body{
    display: flex;
    flex-direction: column-reverse;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#layout {
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 22px;
    font-size: 1.2rem;
    box-shadow: 3px 3px 4px;
    border:2px solid #f0f0ff;
    align-content: center;
}